<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
  <p>I'm experienced in parallel algorithm designs on heterogeneous architectures like the Sunway supercomputer, GPU, multi-core CPU, and FPGA processors to solve computational challenges raised from geoscience applications. I am also interested in novel designs for financial applications on reconfigurable platforms. You can checkout my CV in <a href="assets/cv/conghui-cv-en.pdf">English</a> or in <a href="assets/cv/conghui-resume-cn.pdf">中文</a>.</p>
</div><!--//summary-->
</section><!--//section-->
