 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h5 class="meta">Tsinghua University</h5>
    <div class="time">2013.9 - 2018.7</div>
    <br/>
    <h5 class="meta">Stanford University</h5>
    <div class="time">2016.6 - 2016.9</div>
    <br/>
    <h5 class="meta">Imperial College London</h5>
    <div class="time">2016.11 - 2017.6</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Software Engineering</h4>
    <h5 class="meta">Sun Yat-sen University</h5>
    <div class="time">2009.9 - 2013.6</div>
</div><!--//item-->
</div><!--//education-container-->
