<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Lead Software Developer</h3>
        <div class="time">2015 - Present</div>
      </div><!--//upper-row-->
      <div class="company">National Supercomputing Center in Wuxi</div>
    </div><!--//meta-->
    <div class="details">
      <p>Responsible for the underlying architecture of the Sunway TaihuLight supercomputer and the softwares/applications that are deployed and run on the Sunway TaihuLight. Also responsible for overseeing the work being done by any other software engineers in my team.</p>

      <p>Unleashing the performance of different parts (computation, communication, IO, bandwidth, etc.) of the Sunway supercomputer. Optimizing the performance of applications with AAA principles (Architecture, Application, Algorithm). </p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">FPGA Application Developer (Intern)</h3>
        <div class="time">2016.11 - 2017.6</div>
      </div><!--//upper-row-->
      <div class="company">Maxeler Technologies, London</div>
    </div><!--//meta-->
    <div class="details">
      <p>Maxeler Technologies is a leading provider of dataflow computing platforms, solutions, and appliances. I am responsible for developing and testing the MaxMPT project collaborated with Chicago Mercantile Exchange(CME). I also contribute code to the <a href="https://github.com/maxeler/NetworkingCodeExamples">NetworkingCodeExamples</a> and <a href="https://github.com/maxeler/maxpower">maxpower</a>. </p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">HPC Engineer (Intern)</h3>
        <div class="time">2014 - 2015</div>
      </div><!--//upper-row-->
      <div class="company">Statoil, Beijing</div>
    </div><!--//meta-->
    <div class="details">
      <p>Statoil is an international energy company and the world's largest offshore operator. I am responsible for designing an efficient parallel scheme for the beam migration and reverse time migration algorithms and then fully optimize them on a GPU cluster.</p>
    </div><!--//details-->
  </div><!--//item-->

</section><!--//section-->
