<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p></p>

  </div><!--//intro-->

  <div class="item">
    <span class="project-title"><a href="#hook">18.9-Pflops Nonlinear Earthquake Simulation on Sunway TaihuLight</a></span> -
    <span class="project-tagline"> This work shows our large-scale nonlinear earthquake simulation software on Sunway TaihuLight that achieves over 15% of the system's peak, better than the 11.8% efficiency achieved by a similar software running on Titan, whose byte to flop ratio is 5 times better than TaihuLight. The extreme cases demonstrate a sustained performance of over 18.9 Pflops, enabling the simulation of Tangshan earthquake as an 18-Hz scenario with an 8-meter resolution. Related work is accepted by SC17', and is nominated as the Gordon Bell Prize Finalist.</span>
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#hook" target="_blank">An FPGA-based Extremely Low-latency Market Server</a></span> -
    <span class="project-tagline">Cooperated with China Financial Future Exchange (CFFEX). We design and implement a novel and efficient CPU-FPGA hybrid data structure for order book. Our FPGA-based market server sustains 1-10Gb/s bandwidth with latency of 3ms, providing an 30-fold latency reduction compared to a fully optimized CPU-based solution.</span>
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#hook" target="_blank">Ensemble Full Waveform Inversion with Source Encoding</a></span> -
    <span class="project-tagline"> This approach refines the velocity model iteratively by incorporating the observation, while the nonlinear evolution of the covariance is approximated by ensemble covariance. Encoded simultaneous-source FWI (ESSFWI) is applied to improve the representation for the low rank ensemble approximation, and to increase the rate of convergence. Experiments show that EnFWI achieves larger convergence range and better tolerance to data noise with less computational costs than traditional FWI methods. </span>
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#hook" target="_blank">Parallel GPU Beam Migration</a></span> -
    <span class="project-tagline">A fast parallel beam migration that runs efficiently on GPU clusters. The significant performance improvement would further close the gap to an interactive migration engine. </span>
  </div><!--//item-->

</section><!--//section-->
